@mixin neonShadow-mixin {
  text-shadow: 0px 0px 2px #50E3C2;
}

body {
	background: #150028;
	color: #E5FFF9;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 110%;
}

#container {
  margin: 0 auto;
  max-width: 610px;
  padding: 0px;
}

.logo {margin-top:-5px;}


.firstname {
	text-transform:uppercase; 
	letter-spacing:0.15em;
	margin-top: 20%;
  @include neonShadow-mixin;
}

.tagline {
	letter-spacing:0.216em;
	margin-top:-25px;
  @include neonShadow-mixin;
	margin-bottom:70px;
}

.blurb {
	letter-spacing:0.09em;
	opacity:.85;
  @include neonShadow-mixin;
	text-align: justify;
}

p a {color:white;}

.social {
	position:absolute; 
	bottom:0px; 
  opacity:.3;
	
	p {
		padding-bottom:10px;
	}
}