@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 400px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.logo img {width: 100px;}
  	body{color:red;}
}

@media screen and (min-width: 1441px) { 
.firstname {
	margin-top: 30%;}
}