/* line 5, scss/_base.scss */
body {
  background: #150028;
  color: #E5FFF9;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 110%;
}

/* line 13, scss/_base.scss */
#container {
  margin: 0 auto;
  max-width: 610px;
  padding: 0px;
}

/* line 19, scss/_base.scss */
.logo {
  margin-top: -5px;
}

/* line 22, scss/_base.scss */
.firstname {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 20%;
  text-shadow: 0px 0px 2px #50E3C2;
}

/* line 29, scss/_base.scss */
.tagline {
  letter-spacing: 0.216em;
  margin-top: -25px;
  text-shadow: 0px 0px 2px #50E3C2;
  margin-bottom: 70px;
}

/* line 36, scss/_base.scss */
.blurb {
  letter-spacing: 0.09em;
  opacity: .85;
  text-shadow: 0px 0px 2px #50E3C2;
  text-align: justify;
}

/* line 43, scss/_base.scss */
p a {
  color: white;
}

/* line 45, scss/_base.scss */
.social {
  position: absolute;
  bottom: 0px;
  opacity: .3;
}
/* line 50, scss/_base.scss */
.social p {
  padding-bottom: 10px;
}

/* 321px 20.063em phone portrait for larger phones - when would I use this? */
@media only screen and (min-width: 20.063em) and (max-width: 640px) {
  /* line 3, scss/_queries.scss */
  #container {
    padding: 0 7%;
  }

  /* line 4, scss/_queries.scss */
  .logo {
    margin-left: -12px;
  }

  /* line 5, scss/_queries.scss */
  .logo img {
    width: 100%;
  }

  /* line 6, scss/_queries.scss */
  .tagline {
    margin-top: -10px;
  }

  /* line 7, scss/_queries.scss */
  .blurb {
    text-align: left;
  }

  /* line 8, scss/_queries.scss */
  .social {
    bottom: -10%;
  }

  /* line 9, scss/_queries.scss */
  .social p span {
    display: block;
  }
}
@media only screen and (min-width: 641px) {
  /* line 14, scss/_queries.scss */
  .logo {
    margin-left: -20px;
  }
}
@media screen and (min-width: 1441px) {
  /* line 19, scss/_queries.scss */
  .firstname {
    margin-top: 25%;
  }
}
